@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --txt: #000;
    --txt2: #919191;
    --txt3: #5252ff;
    --txt4: #333;
    --txt5: #444;
    --btn-txt: #fff;
    --navbg: #fff;
    --bg: #fff;
    --contbg: #f5f5f5;
    --btn-bg: #5252ff;
    --shadow: #999;
    --input: #eeeeee;
}

[data-theme="dark"] {
    --txt: #fff;
    --txt2: #a8a8a8;
    --txt4: #f1f1f1;
    --txt5: #bbbbbb;
    --navbg: #1E1F26;
    --contbg: #1b1b1b;
    --bg: #121212;
    --shadow: #000;
    --input: #2b2b2b;
}

body a {
    text-decoration: none;
}

body p {
    color: #eeeeee;
    font-size: 15px;
}

body {
    overflow-x: hidden;
}

#progress {
    background-color: var(--txt3);
    height: 4px;
    border-radius: 2px;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}




/* ********** Navbar ********** */
header {
    position: absolute;
    width: 100%;
    height: 60px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1a;
    z-index: 3;
    transition: 0.5s;
}

header .logo {
    margin-top:10px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    color: #fbca41;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}

header ul li a:hover {
    color: #eeeeee;
}

.focus {
    color: #eeeeee;
}

header .toggle {
    display: none;
}

/*Apply styles after scroll*/
/* .scrolling-active {
    box-shadow: 0 0 4px var(--shadow);
} */

/* ********** HOME ********** */

#home {
    background: #1a1a1a;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    height: 100vh;
}

#home .content {
    margin-right: 60px;
}

#home h5 {
    color: #eeeeee;
    font-size: 18px;
    letter-spacing: 8px;
    font-weight: 300;
    font-family: 'Bebas Neue', cursive;
}

#home h1 {
    color: #eeeeee;
    font-weight: 700;
    font-size: 50px;
    padding: 30px 0;
}

#home p {
    color: #eeeeee;
    line-height: 22px;
    font-size: 15px;
    padding-bottom: 50px;
}

#home a.scroll {
    color: #fbca41;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid #fbca41;
    padding: 8px;
    font-size: 13px;
    border-radius: 4px;
}

#home a.scroll:hover {
    background: #fbca41;
    color: #1a1a1a;
}

#home a.scroll i {
    padding-left: 5px;
}

#home .social-icons i {
    padding-right: 25px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--txt2);
    font-size: 20px;
}

#home .social-icons i:hover {
    cursor: pointer;
    color: var(--txt3);
}

#home .hero {
    width: 50%;
}

/* ********** ABOUT ********** */
#aboutus {
    width: 100%;
    height: 100vh;
    padding: 60px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    background: -webkit-linear-gradient(to right, #fbca41, #f8ad0a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fbca41, #f8ad0a);
    position: relative;
}

.custom-shape-divider-bottom-1634474221 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634474221 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1634474221 .shape-fill {
    fill: #1a1a1a;
}

#aboutus .content {
    background-size: cover;
    width: 100%;
    border-radius: 5px;
    color: #1a1a1a;
    text-align: left;
}

#aboutus .content p {
    color: #1a1a1a;
    text-align: left;
    width: 80%;
    padding-top: 10px;

}

#aboutus .content h5 {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 8px;
    font-family: 'Bebas Neue', cursive;
}

#aboutus .content .bottomline {
    width: 100px;
    height: 2px;
    background: #000;
    margin-top: 20px;
}

#aboutus .content h5 div {
    width: 100px;
    height: 2px;
    background: #000;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutus .content-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    color: #1a1a1a;
}

#aboutus .content-2 .number {
    font-size: 50px;
    font-weight: bold;
}

#aboutus .content-2 .box-2 {
    margin: 0 20px;
}

#aboutus .content-2 div {
    text-align: left;
}

#aboutus .content-2 div i {
    font-size: 60px;
}

#aboutus .content-2 div h5 {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}

#aboutus .content-2 {
    display: flex;
}


/* ********** SERVICES ********** */

#services {
    background: #1a1a1a;
    padding: 60px 100px;
}

#services .content {
    width: 80%;
}

#services h5 {
    color: #fbca41;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 8px;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 10px;
}

#services .content .bottomline {
    width: 100px;
    height: 2px;
    background: #fbca41;
    margin-top: 20px;
    margin-bottom: 80px;
}


#services .content p {
    color: #cfcfcf;
}

#services .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#services .container .box {
    position: relative;
    width: 320px;
    padding: 40px 40px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #fbca41;
}

#services .container .box:hover {
    box-shadow: 0 0 15px #fbca41;

}

#services .container .box i {
    font-size: 60px;
    color: #fbca41;
}

#services .container img {
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}


#services .container .box h5 {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}

#services .container .box p {
    position: relative;
    color: #cfcfcf;
    z-index: 2;
    transition: 0.5s;
}

#services .container .box:hover h3,
#services .container .box:hover p {
    color: #fff;
}

/* ********** WORKS ********** */
#works {
    width: 100%;
    height: auto;
    background: #1a1a1a;
    padding: 60px 0px 250px 0px;
    display: block;
    background: -webkit-linear-gradient(to right, #fbca41, #f8ad0a);
    /* Chrome 10-25, Safari 5.1-6 */
   position: relative;
    background: linear-gradient(to bottom, #fbca41, #f8ad0a);
}


#works .content {
    width: 100%;
    margin-right: 20px;
    text-align: center;
    display: block;
    margin:0 auto;
}

#works h5 {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 8px;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 10px;
}

#works .content span {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#works .content .bottomline {
    width: 100px;
    height: 2px;
    background: #000;
    margin-bottom: 80px;
    margin-top: 20px;
    text-align: center;
}

#works .content p {
    color: #ffffff;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#works .container {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template:
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh;
  }
  
  #works .container .box {
    position: relative;
    background: #ccc;
  }
  #works  .container .box.a {
    grid-row: span 2;
  }
  #works .container .box.b,
  #works .container .box.f,
  #works .container .box.h,
  #works .container .box.j {
    grid-column: span 2;
  }

  #works .container .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #works .content-2 {
      width:100%;
      height:auto;
      padding:0px 100px;
      display: flex;
      justify-content: center;
  }


  #works .content-2 a.morebtn {
    text-transform: uppercase;
    font-size: 15px;
    border: 2px solid #000;
    padding: 8px 40px;
    font-size: 13px;
    background:transparent;
    color:#000;
    position: absolute;
    bottom:140px;
    border-radius: 4px;

  }

  #works .content-2 a.morebtn:hover {
      background:#000;
      color:#fff;
  }




  #works .custom-shape-divider-bottom-1634474221 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

#works .custom-shape-divider-bottom-1634474221 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

#works .custom-shape-divider-bottom-1634474221 .shape-fill {
    fill: #ffd04f;
}






/* ********** CONTACT ********** */

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    background: url("./images/contact.jpg");
    background-size: cover;
    background-position: center;
}

.left {
    width: 50%;

    color: #fff;
    position: relative;
}

.left .sec1 {
    position: absolute;
    top: 0;
    padding: 60px 100px;
}

.left .sec1 h1 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}

.left .sec1 i {
    margin-bottom: 10px;
    margin-right: 10px;
}

.left .sec1 span,
.sec2 p {
    font-size: 14px;
    color: #fff;
}

.left .sec1 ul li {
    list-style: none;
}

.left .sec2 {
    padding: 60px 100px;
    position: absolute;
    bottom: 0;
}

.left .sec2 .socialicons a i {
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
}


.right {
    padding: 30px;
    width: 50%;
}

.contactForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h5 {
    color: #fbca41;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 8px;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 10px;
}

.right .line {
    width: 100px;
    height: 2px;
    background: #fff;
    margin-bottom: 20px;
}

.right form {
    margin: 0 auto;
    display: block;
}

.right .formGroup {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 300px;
}

.right .formGroup input {
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 4px;
    display: block;
    background: #ffffff21;
}

.right .formGroup h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;

}

.right .formGroup.success input {
    border-color: #2ecc71;
}

.right .formGroup.error input {
    border-color: #e74c3c;
}

.right .formGroup.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.right .formGroup.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.right .formGroup.error small {
    visibility: visible;
    color: #e74c3c;
}

.right .formGroup i {
    position: absolute;
    top: 35px;
    right: 10px;
    visibility: hidden;
}

.right .formGroup small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: "";
}

input::placeholder {
    color: #fff;
}

h5 {
    font-size: 15px;
    margin-bottom: 5px;
}

.btn {
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 2px;
    background: #f8ad0a;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.btn:hover {
    background: #fbca41;
}




@media (max-width: 992px) {
    header {
        padding: 0 50px;
    }

    header ul {
        position: absolute;
        top: -900px;
        left: 0;
        width: 100%;
        height: auto;
        padding: 20px 0px;
        overflow: hidden;
        border-bottom: 1px solid #999;
        background: var(--navbg);
        flex-direction: column;
        transition: .5s;
        transform: translateY(-100px);
        opacity: 0;
    }

    header.active ul {
        top: 60px;
        transform: translateY(0);
        opacity: 1;
        background: #1a1a1a;
    }

    header ul li {
        margin: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    header ul li a {
        margin: 5px 0;
        font-size: 18px;
    }

    header .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .theme-switch {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .toggle::before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #fbca41;
        z-index: 1;
        box-shadow: 0 10px 0 #fbca41;
        transition: 0.4s;
    }

    .toggle::after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #fbca41;
        z-index: 1;
        transition: 0.4s;
    }

    header.active .toggle::before {
        top: 14px;
        transform: rotate(45deg);
        box-shadow: none;
    }

    header.active .toggle::after {
        bottom: 14px;
        transform: rotate(-45deg);
    }

    #home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 100px 50px 50px;
        height:auto;
    }

    #home .hero {
        width: 100%;
        margin-top: 50px;
    }

    #home p img {
        width: 20px;
    }

    #aboutus {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 50px 50px 150px 50px;
        height: auto;
    }

    #aboutus .content-2 {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    #aboutus .content-2 .box-2 {
        margin: 0;
        padding: 15px 0;
    }

    

    #services {
        width: 100%;
        padding:50px 50px;
    }

    #services .container {
        display: flex;
        justify-content: center;
    }

    #services .content p {
        width: 100%;
    }

    #works {
        height: auto;
        padding: 60px 0px 200px 0;
        height: auto;
    }

    #works .content-2 {
        width:100%;
        height:auto;
        padding:0px 50px;
    }

    #works .content-2 .container {
        grid-template-columns: repeat(2, 1fr);
    }

    #works .content-2 .container .item1 {
        grid-column: span 1;
    }

    #works .content p {
        color: #ffffff;
        width: 90%;

    }

    #works .content-2 .container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        justify-content: center;
    }

    #works  .container {
        grid-template:
          "1fr 1fr 1fr" 250px
          "1fr 1fr 1fr" 250px
          "1fr 1fr 1fr" 250px
          "1fr 1fr 1fr" 250px
          "1fr 1fr 1fr" 250px;
      }

      #works .content-2 a.morebtn {
          bottom:130px;
      }


    #contact {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #contact .container .content-2 {
        display: flex;
        align-items: center;
    }

    .wrapper {
        display: block;
        height: auto;
    }

    .left {
        width: 100%;
    }

    .right .formGroup {
        width: 100%;
    }

    .left .sec1,
    .left .sec2 {
        padding: 50px;
        position: unset;
    }

    .right {
        padding: 50px;
        width: 100%;
    }

    Form {
        width: 100%;
    }

}

@media (max-width:600px) {
    header {
        padding: 0 20px;
    }

    header ul li a {
        margin: 5px 0;
        font-size: 15px;
    }

    #home .content {
        margin-right: 0;
    }

    #home{
        padding:100px 20px 80px;
    }

   
    #services,
    #works,
    #contact {
        padding: 60px 20px 50px;
    }

    #home h5,
    #aboutus h5,
    #services h5,
    #works h5 {
        font-size: 15px;
    }

    #home h1,
    #contact h1 {
        font-size: 30px;
    }

    #home p,
    #aboutus p,
    #works p,
    #contact p {
        font-size: 15px;
    }

    #home .social-icons i {
        padding-right: 0;
    }
    #aboutus {
        height:100%;
        padding:60px 20px 150px;
    }

    #aboutus .content-2 .number {
        font-size:30px;
    }

    #services .container {
        display: flex;
        justify-content: center;
    }

    #works {
        padding:60px 20px 200px;
    }

    #works  .container {
        grid-template:
          "1fr 1fr" 200px
          "1fr 1fr" 200px
          "1fr 1fr" 200px
          "1fr 1fr" 200px
          "1fr 1fr" 200px
          "1fr 1fr" 200px
          "1fr" 200px
          "1fr 1fr" 200px;
      }

   #contact {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #contact .container .content-2 {
        display: flex;
        align-items: center;
    }

    .wrapper {
        display: block;
        height: auto;
    }

    .left {
        width: 100%;
    }

    .right .formGroup {
        width: 100%;
    }

    .left .sec1,
    .left .sec2 {
        padding:20px 0px ;
        position: unset;
    }

    .right {
        padding:0px 0px 30px 0px;
        width: 100%;
    }

    Form {
        width: 100%;
    }
}





















/* Media Querys */

/* @media (max-width: 992px) {

    header {
        padding: 0 50px;
    }

    header ul {
        position: absolute;
        top: -900px;
        left: 0;
        width: 100%;
        height: auto;
        padding: 20px 0px;
        overflow: hidden;
        border-bottom: 1px solid #999;
        background: var(--navbg);
        flex-direction: column;
        transition: .5s;
        transform: translateY(-100px);
        opacity: 0;
    }

    header.active ul {
        top: 60px;
        transform: translateY(0);
        opacity: 1;
        background: #1a1a1a;
    }

    header ul li {
        margin: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    header ul li a {
        margin: 5px 0;
        font-size: 18px;
    }

    header .toggle {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .theme-switch {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .toggle::before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 10px 0 #fff;
        transition: 0.4s;
    }

    .toggle::after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        transition: 0.4s;
    }

    header.active .toggle::before {
        top: 14px;
        transform: rotate(45deg);
        box-shadow: none;
    }

    header.active .toggle::after {
        bottom: 14px;
        transform: rotate(-45deg);
    }

    #home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 100px 50px 50px;
        height: auto;
    }

    #home .hero {
        width: 100%;
        margin-top: 50px;
    }

    #home p img {
        width: 20px;
    }

    #aboutus {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 50px 50px 150px 50px;
        height: auto;
    }

    #aboutus .content-2 {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    #aboutus .content-2 .box-2 {
        margin: 0;
        padding: 15px 0;
    }

    #services {
        width: 100%;
        padding:50px 50px;
    }

    #services .container {
        display: flex;
        justify-content: center;
    }

    #services .content p {
        width: 100%;
    }

    #works {
        height: auto;
        padding: 60px 0px 200px 0;
        height: auto;
    }

    #works .content-2 {
        width:100%;
        height:auto;
        padding:0px 50px;
    }

    #works .content-2 .container {
        grid-template-columns: repeat(2, 1fr);
    }

    #works .content-2 .container .item1 {
        grid-column: span 1;
    }

    #works .content p {
        color: #ffffff;
        width: 90%;

    }

    #works .content-2 .container {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        justify-content: center;
    }

    #works  .container {
        grid-template:
          "1fr 1fr 1fr" 250px
          "1fr 1fr 1fr" 250px
          "1fr 1fr 1fr" 250px
          "1fr 1fr 1fr" 250px
          "1fr 1fr 1fr" 250px;
      }

      #works .content-2 a.morebtn {
          bottom:130px;
      }


    #contact {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #contact .container .content-2 {
        display: flex;
        align-items: center;
    }

    .wrapper {
        display: block;
        height: auto;
    }

    .left {
        width: 100%;
    }

    .right .formGroup {
        width: 100%;
    }

    .left .sec1,
    .left .sec2 {
        padding: 50px;
        position: unset;
    }

    .right {
        padding: 50px;
        width: 100%;
    }

    Form {
        width: 100%;
    }
}

} */


/* @media  (max-width: 600px) {
    header {
        padding: 0 20px;
        background-color: #fff;
    }

    header ul li a {
        margin: 5px 0;
        font-size: 15px;
    }

    #home .content {
        margin-right: 0;
    }

    #home,
    #aboutus,
    #services,
    #works,
    #contact {
        padding: 200px 10px 40px;
    }

    #home h5,
    #aboutus h5,
    #services h5,
    #works h5 {
        font-size: 15px;
    }

    #home h1,
    #contact h1 {
        font-size: 2px;
        color:red;
    }

    #home p,
    #aboutus p,
    #works p,
    #contact p {
        font-size: 15px;
    }

    #home .social-icons i {
        padding-right: 0;
    }

    #services .container {
        display: flex;
        justify-content: center;
    }

    #works  .container {
        grid-template:
          "1fr 1fr" 200px
          "1fr 1fr" 200px
          "1fr 1fr" 200px
          "1fr 1fr" 200px
          "1fr 1fr" 200px
          "1fr 1fr" 200px
          "1fr 1fr" 200px;
      }

    #contact .container {
        display: block;
    }

    #contact h1 {
        font-size: 28px;
    }

    #contact .form p {
        width: 100%;
    }

    #contact .container .content-1 {
        text-align: center;
    }

    #contact .content-2 {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        display: flex;
        align-items: center;
    }

    #contact .container .content-2 a {
        padding: 0;
        margin: 0 20px;
    }

    #contact .content-2 .social-icons {
        display: inline;
    }

    .wrapper {
        display: block;
        height: auto;
    }


    .wrapper .left .sec1,
    .wrapper .left .sec2 {
        padding: 50px 20px;
    }

    .wrapper .left .sec2 {
        position: absolute;
        bottom: 10px;
    }

} */